* {
    padding: 0;
    margin: 0;
  }
  body{
    background-image: url(/Static/IMAGENES/libreria.jpg);
    background-size: cover;
    
  } 
  .wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background:rgb(83, 33, 33);
    width: 100%;
    z-index: 10;
    height: 60px;
  
  }
  
  nav {
    float: left; 
  }
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block; 
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #412d2d;
  }

/* a partir de esta liena empiezan los codigos de cursos*/

.table{
  background-color:rgb(209, 202, 202);
  margin-top: 5px;
}
.button{
  background-color: green;
  border-radius: 5px;
  padding:5px; 
}


